{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}
<footer class=' twcss-text-center twcss-pb-8 twcss-pt-12 twcss-w-full twcss-footer twcss-border-t  twcss-border-gray-300  twcss-text-black  '>
  <div class=' twcss-w-auto twcss-mx-auto '>
    <div class='twcss-grid twcss-grid-cols-1 md:twcss-grid-cols-4 twcss-px-16 twcss-gap-8 md:twcss-gap-14'>
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'link_list' -%}
            <div class='twcss-space-y-7'>
              <h3 class='twcss-text-2xl md:twcss-text-3xl twcss-font-semibold twcss-uppercase twcss-tracking-widest twcss-text-red-600 twcss-mb-4'>
                {{ block.settings.heading }}
              </h3>
              {%- if block.settings.menu != blank -%}
                <ul class='twcss-space-y-5 '>
                  {%- for link in block.settings.menu.links -%}
                    <li>
                      <a href='{{ link.url }}' class=' md:twcss-text-2xl hover:twcss-text-gray-900'>
                        {{ link.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
          {%- when 'text' -%}
            <div class='twcss-space-y-7'>
              <h3 class='twcss-text-2xl md:twcss-text-3xl twcss-font-semibold twcss-uppercase twcss-tracking-widest twcss-text-red-600 twcss-mb-4'>
                {{ block.settings.heading }}
              </h3>
              <div>
                <p>
                  <span class='twcss-font-medium'> T: </span>
                  <a href='tel:{{block.settings.phone  }}'> {{ block.settings.phone }}</a>
                </p>
                <p>
                  <span class='twcss-font-medium'> E: </span>
                  <a href='mailto:{{ block.settings.email }}'> {{ block.settings.email }}</a>
                </p>
              </div>
              <div>{{ block.settings.subtext }}</div>

              <div class='twcss-flex twcss-items-center twcss-justify-center twcss-gap-1'>
                {%- if section.settings.show_social -%}
                  {%- render 'social-icons' -%}
                {%- endif -%}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>

    <div class='twcss-mt-8 twcss-px-16 twcss-py-12 twcss-border-y twcss-border-gray-300'>
      <ul class='twcss-flex twcss-flex-wrap twcss-gap-3 twcss-justify-center twcss-items-center' role='list'>
        {%- for type in shop.enabled_payment_types -%}
          <li class='list-payment__item'>
            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
          </li>
        {%- endfor -%}
      </ul>
    </div>
    <div class=' twcss-text-center twcss-px-16 twcss-pt-12 twcss-pb-4 '>
      <div class='twcss-text-black twcss-text-2xl'>
        &copy; {{ 'now' | date: '%Y' }}
        {{ shop.name }}. {{ powered_by_link }}
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show social icons",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "phone",
          "default": "+1 123 456 7890",
          "label": "Phone"
        },
        {
          "type": "text",
          "id": "email",
          "default": "example@stacknyu.com",
          "label": "Email"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "Subtext"
        }
      ]
    }
  ]
}
{% endschema %}
