{% comment %}
  Sections: main-cart-items, main-cart-footer
{% endcomment %}

<div class='twcss-bg-[#f3f3f3] '>
  <div class='md:twcss-max-w-screen-lg twcss-max-w-[90vw]	 md:twcss-py-32 twcss-mx-auto twcss-px-15 twcss-py-8'>
    <div class='twcss-flex twcss-justify-between twcss-items-center twcss-mb-6'></div>

    <div class='twcss-flex  twcss-flex-col md:twcss-flex-row twcss-gap-8'>
      <div class='twcss-w-full  md:twcss-w-2/3'>
        <div class='twcss-flex twcss-justify-between twcss-pb-8'>
          <a
            href='{{ routes.all_products_collection_url }}'
            class='twcss-text-gray-500 twcss-gap-2 twcss-flex twcss-items-center'
          >
            <svg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'>
              <path fill="#a0aec0" fill-rule="evenodd" d="M10.53 5.47a.75.75 0 0 1 0 1.06l-4.72 4.72H20a.75.75 0 0 1 0 1.5H5.81l4.72 4.72a.75.75 0 1 1-1.06 1.06l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 0" clip-rule="evenodd"/>
            </svg>
            Continue shopping
          </a>
          <h1 class='twcss-text-2xl twcss-font-bold'>Shopping Bag</h1>
        </div>
        <div class='twcss-bg-white twcss-py-8 twcss-px-8'>
          <div class='twcss-bg-red-100 twcss-flex twcss-flex-wrap twcss-gap-2 twcss-p-4 twcss-mb-6'>
            <div class='twcss-mt-1'>
              <svg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'>
                <path fill="black" d="M11 17h2v-6h-2zm1-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"/>
              </svg>
            </div>
            <div>
              <p class='twcss-font-bold twcss-text-black'>Items not reserved</p>
              <p>Checkout now to make them yours</p>
            </div>
          </div>
          <form action='{{ routes.cart_url }}' method='post' id='cart'>
            {% for item in cart.items %}
              <div class='twcss-flex  twcss-py-4 twcss-border-b'>
                <div class='twcss-flex-shrink-0  md:twcss-max-[120px] twcss-max-w-[80px] twcss-mr-4'>
                  <img
                    src='{{ item.image | img_url: '120x120', scale: 2 }}'
                    alt='{{ item.title | escape }}'
                    class='twcss-object-cover twcss-w-full twcss-h-full'
                  >
                </div>
                <div class='twcss-flex-grow twcss-space-y-4'>
                  <h3 class='md:twcss-text-3xl twcss-text-xl twcss-font-bold'>{{ item.product.title }}</h3>
                  <p class='twcss-text-gray-600 twcss-text-lg'>{{ item.variant.title }}</p>

                  <div class='twcss-flex twcss-items-center twcss-justify-between twcss-mt-2'>
                    <div class='twcss-relative twcss-items-center twcss-flex twcss-justify-between twcss=w-full'>
                      <div class='twcss-flex  max-md:twcss-flex-wrap twcss-gap-2 twcss-items-center'>
                        <label for='quantity-selector'>Quantity</label>

                        <select
                          name='updates[]'
                          id='quantity-selector'
                          data-variant-id='{{ item.variant.id }}'
                          value='{{ item.quantity }}'
                          class='twcss-block  twcss-w-full twcss-bg-white twcss-border twcss-border-gray-300 twcss-px-4 twcss-py-2 twcss-pr-8 twcss-rounded twcss-shadow twcss-leading-tight focus:twcss-outline-none focus:twcss-shadow-outline'
                        >
                          {% for i in (1..item.variant.inventory_quantity) %}
                            <option
                              value='{{ i }}'
                              {% if item.quantity == i %}
                                selected
                              {% endif %}
                            >
                              {{ i }}
                            </option>
                          {% endfor %}
                        </select>
                      </div>

                      {% comment %}
                        <div class='twcss-pointer-events-none twcss-absolute twcss-inset-y-0 twcss-right-0 twcss-flex twcss-items-center twcss-px-2 twcss-text-gray-700'>
                          <svg
                            class='twcss-fill-current twcss-h-4 twcss-w-4'
                            xmlns='http://www.w3.org/2000/svg'
                            viewBox='0 0 20 20'
                          >
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                          </svg>
                        </div>
                      {% endcomment %}
                    </div>
                    {% if item.original_line_price != item.final_line_price %}
                      <span class='twcss-ml-4 twcss-text-red-600'>
                        {{ item.final_line_price | money }}
                      </span>
                      <s class='twcss-ml-2 twcss-text-gray-500'>{{ item.original_line_price | money }}</s>
                    {% else %}
                      <span class='twcss-ml-4'>{{ item.original_line_price | money }}</span>
                    {% endif %}
                  </div>
                </div>
                <div class='twcss-h-full twcss-flex twcss-items-start'>
                  <a href='{{ item.url_to_remove }}' class='twcss-text-gray-800 twcss-text-5xl '>&times;</a>
                </div>
              </div>
            {% endfor %}
          </form>
        </div>
      </div>

      <div class='twcss-w-full md:twcss-w-1/3'>
        <div class='cart__ctas' {{ block.shopify_attributes }}>
          <button
            type='submit'
            id='checkout'
            class='twcss-w-full twcss-mb-4  twcss-flex twcss-text-[1.5rem] twcss-items-center twcss-justify-center twcss-gap-3 twcss-bg-black twcss-text-white twcss-py-5 twcss-rounded twcss-font-semibold '

            name='checkout'
            {% if cart == empty %}
              disabled
            {% endif %}
            form='cart'
          >
            Proceed to checkout
            <svg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 24 24'>
              <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m9 5l6 7l-6 7"/>
            </svg>
          </button>
        </div>
        <div class='twcss-bg-white twcss-text-black twcss-font-bold twcss-p-6 twcss-rounded'>
          <div class=' twcss-pt-4 '>
            <div class='twcss-flex twcss-justify-between twcss-font-bold twcss-text-2xl'>
              <span>Estimated total</span>
              <span>{{ cart.total_price | money_with_currency }}</span>
            </div>
            <div class='twcss-flex twcss-items-center  twcss-gap-4 twcss-my-4'>
              <svg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' viewBox='0 0 24 24'>
                <path fill="red" d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59z"/>
              </svg>
              <p class=' twcss-text-[1.5rem]  twcss-font-medium'>15 day returns policy</p>
            </div>
            <p class='twcss-text-[1.2rem] twcss-text-gray-600 twcss-mt-6'>
              Taxes included. Discounts and shipping calculated at checkout.
            </p>
          </div>
          <div class='twcss-mt-6 twcss-space-y-2'>
            <div class='cart__ctas' {{ block.shopify_attributes }}>
              <button
                type='submit'
                id='checkout'
                class='twcss-w-full  twcss-flex twcss-text-[1.5rem] twcss-items-center twcss-justify-center twcss-gap-3 twcss-bg-black twcss-text-white twcss-py-5 twcss-rounded twcss-font-semibold '

                name='checkout'
                {% if cart == empty %}
                  disabled
                {% endif %}
                form='cart'
              >
                Proceed to checkout
                <svg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 24 24'>
                  <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m9 5l6 7l-6 7"/>
                </svg>
              </button>
            </div>
            {%- if additional_checkout_buttons -%}
              <div class='cart__dynamic-checkout-buttons  additional-checkout-buttons'>
                {{ content_for_additional_checkout_buttons }}
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>

    <div class='twcss-mt-8 twcss-flex twcss-gap-5 twcss-items-center'>
      <a
        href='{{ routes.all_products_collection_url }}'
        class='twcss-text-gray-500 twcss-gap-2 twcss-flex twcss-items-center'
      >
        <svg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'>
          <path fill="#a0aec0" fill-rule="evenodd" d="M10.53 5.47a.75.75 0 0 1 0 1.06l-4.72 4.72H20a.75.75 0 0 1 0 1.5H5.81l4.72 4.72a.75.75 0 1 1-1.06 1.06l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 0" clip-rule="evenodd"/>
        </svg>
        Continue shopping
      </a>
      <div>|</div>

      {% assign my_variable = '' %}

      {% for item in cart.items %}
        {% assign item_string = item.variant_id | append: ':' | append: item.quantity %}

        {% if forloop.first %}
          {% assign my_variable = item_string %}
        {% else %}
          {% assign my_variable = my_variable | append: ',' | append: item_string %}
        {% endif %}
      {% endfor %}
      <p id='share-link' class='twcss-hidden'>http://{{ shop.domain }}/cart/{{ my_variable }}</p>
      <button id='share'>Share your shopping bag</button>
    </div>
  </div>
</div>

{% javascript %}
  const select = document.getElementById('quantity-selector');
  select.addEventListener('change', async function () {
    const variantId = this.dataset.variantId;
    const newQuantity = parseInt(this.value);

    let updates = {};

    updates[variantId] = newQuantity;

    fetch(window.Shopify.routes.root + 'cart/update.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ updates }),
    })
      .then((response) => response.json())
      .then((data) => {
        window.location.reload();
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  });

  const share = document.getElementById('share');

  share.addEventListener('click', function () {
    const link = document.getElementById('share-link').innerHTML;
    navigator.clipboard.writeText(link).then(
      function () {
        alert('Cart link copied to clipboard!');
      },
      function (err) {
        console.error('Could not copy text: ', err);
      },
    );
  });
{% endjavascript %}

{% schema %}
{
  "name": "Cart",
  "settings": []
}
{% endschema %}
