<div class='twcss-text-center twcss-space-y-12 twcss-px-10 twcss-bg-[#f3f3f3] twcss-py-16 md:twcss-py-28 twcss-mb-8  twcss-text-black'>
  <h2 class='twcss-text-4xl md:twcss-text-6xl twcss-font-bold twcss-mb-4'>{{ section.settings.newsletter_heading }}</h2>
  <div class='md:twcss-text-3xl twcss-mb-4'>{{ section.settings.newsletter_subtext }}</div>
  {%- form 'customer', id: 'ContactFooter', class: 'twcss-flex twcss-justify-center' -%}
    <input type='hidden' name='contact[tags]' value='newsletter'>
    <div class='twcss-flex twcss-flex-wrap twcss-justify-center twcss-w-full twcss-max-w-3xl twcss-gap-2 '>
      <input
        type='email'
        name='contact[email]'
        id='NewsletterForm--{{ section.id }}'
        class='twcss-flex-grow twcss-px-4 twcss-py-2 twcss-border-2 twcss-border-gray-900 twcss-bg-transparent  focus:twcss-outline-none focus:twcss-ring-2 focus:twcss-ring-blue-500'
        placeholder='{{ 'newsletter.label' | t }}'
        required
      >
      <button
        type='submit'
        class='twcss-bg-black twcss-text-white twcss-px-10  twcss-font-medium twcss-py-2  hover:twcss-bg-gray-800 focus:twcss-outline-none focus:twcss-ring-2 focus:twcss-ring-blue-500'
        name='commit'
      >
        {{ 'newsletter.button_label' | t }}
      </button>
    </div>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Stackyu Newsletter",

  "settings": [
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "Newsletter Heading",
      "default": "Join us and receive a voucher code"
    },
    {
      "type": "richtext",
      "id": "newsletter_subtext",
      "label": "Newsletter Subtext",
      "default": "<p>15% off on your first purchase (SALE items excluded) and always free shipping for all new Denim Republic newsletter subscribers</p>"
    }
  ],
  "presets": [
    {
      "name": "Stackyu Newsletter"
    }
  ]
}
{% endschema %}
