<div class='twcss-relative twcss-bg-black twcss-text-white'>
  {% if section.settings.background_image != blank %}
    {{
      section.settings.background_image
      | image_url: width: 1500
      | image_tag:
        class: 'twcss-w-full twcss-h-[400px] md:twcss-h-[650px] twcss-object-cover bg-cover twcss-opacity-50',
        loading: 'lazy',
        alt: section.settings.heading
    }}
  {% else %}
    <div class='twcss-w-full twcss-h-[400px] md:twcss-h-[400px] twcss-bg-gray-700'></div>
  {% endif %}

  <div class='twcss-absolute twcss-px-10  md:twcss-px-24 md:twcss-gap-7 twcss-inset-0 twcss-flex twcss-flex-col twcss-items-start twcss-justify-center '>
    <p class='twcss-text-5xl md:twcss-text-6xl twcss-text-[#FE0000] twcss-font-bold '>
      {{ section.settings.heading }}
    </p>
    <h1 class='twcss-text-9xl md:twcss-text-[170px] md:twcss-leading-[11rem] md:twcss-mb-3 twcss-text-white twcss-font-extrabold '>
      {{ section.settings.mainheading }}
    </h1>
    <p class='twcss-text-2xl twcss-font-bold md:twcss-text-4xl'>{{ section.settings.subheading }}</p>
    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a
        href='{{ section.settings.button_link }}'
        class='twcss-mt-6 twcss-px-6 twcss-py-3 twcss-bg-[#111111] twcss-text-white  hover:twcss-bg-red-600 hover:twcss-text-white md:twcss-py-4  twcss-font-semibold twcss-hover:twcss-bg-gray-200 twcss-transition twcss-duration-300'
      >
        {{ section.settings.button_label }}
      </a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Hero Sale",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "UP TO 50% OFF SALE"
    },
    {
      "type": "text",
      "id": "mainheading",
      "label": "Main Heading",
      "default": "SALE"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "FURTHER REDUCTIONS"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Hero Sale",
      "category": "Image"
    }
  ]
}
{% endschema %}
